* {
  margin: 0;
  padding: 0;
}
header {
  display: inline;
  display: flex;
  flex-direction: column;
  background-color: #718355;
  padding: 50px;
}
.tombol {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}
.tombol :hover {
  color: #718355;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  padding: 20px;
  overflow: auto;
}
.jumbotron {
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 60px;
  color: white;
}
.pranko {
}
nav li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  margin-bottom: 0px;
}
nav {
  margin-left: auto;
  padding: 0px;
  margin-top: 50px;
  top: 0px;
  margin-bottom: 0px;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

#content {
  float: left;
  width: 75%;
}
aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}
.profile header {
  text-align: center;
}
.profile card {
  text-align: center;
}
.image {
  width: 100%;
  padding-top: 20px;
}
.profile header img {
  width: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.aboutus {
  text-align: center;

  margin: 0 auto;
}
.contentabout {
  display: inline-block;
  text-align: center;
  color: #8b8c89;
  font-size: 12px;
  background-color: #f0efeb;
  padding: 6px;
  width: 100%;
  border-radius: 10px;
  border: 0px solid gray;
}
.title {
  font-family: "Simple";
  font-size: 22px;
  letter-spacing: 8px;
}
.plan {
  font-family: "Simple";
  font-size: 16px;
  letter-spacing: 4px;
  padding-top: 20px;
}
.text {
  font-family: "Simple";
  font-size: 16px;
  padding-top: 20px;
}
.membership {
  border: 3px solid #718355;
  border-radius: 2px;
  padding-top: 40px;
  margin: 20px;
  width: 100%;
}
.pohon {
  margin: 0 auto;
  padding-left: 40px;
}
.bio {
  padding-top: 20px;
  text-align: center;
  padding: 20px;
  margin-left: 30px;
  color: white;
}

footer {
  padding: 20px;
  color: white;
  background-color: #718355;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
